@model List<UserModel>



@{
    ViewData["Title"] = "Usuários";
}


<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="User"
           asp-action="Criar">Adicionar Usuários</a>
    </div>
    @if (TempData["msgSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["msgSucesso"]
        </div>
    }
    @if (TempData["msgErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["msgErro"]
        </div>
    }

    <h1 class="display-4">Usuários: </h1>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Id_contato</th>
            <th scope="col">Id_endereço</th>
                <th scope="col">cpf_cnpj</th>
            
        </tr>
    </thead>
    <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var lista in Model)
                {
                    <tr>
                        <th scope="row">@lista.Id</th>
                        <td>@lista.Nome</td>
                        <td>@lista.Id_contato</td>
                        <td>@lista.Id_endereco</td>
                        <td>@lista.cpf_cnpj</td>
                        
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a role="button" class="btn btn-success" asp-route-id="@lista.Id" asp-controller="User" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@lista.Id" asp-controller="User" asp-action="ApagarConfirmacao">Apagar</a>
                                <a role="button" class="btn btn-primary" asp-route-id="@lista.Id" asp-controller="" asp-action="">+Carrinho</a>
                            </div>
                        </td>
                    </tr>
                }
            }

        
    </tbody>
</table>
</div>

