@model UserModel

<h1>Perfil do Usuário</h1>
<h2>Id: @Model.Id</h2>
<h2>Nome: @Model.Nome</h2>
<h2>Id de Contato: @Model.Id_contato</h2>
<h2>CPF/CNPJ: @Model.cpf_cnpj</h2>
<h2>IdEndereço: @Model.Id_endereco</h2>
<h2>Data de Cadastro: @Model.DataCadastro<h2>
<h2>Data de Atualização: @Model.DataAtualizacao</h2>

